extends include/layout
block content

    header
        p.lead= t('app.home.pitch')
    hr
    div(ng-app="app", ng-controller="OrchestrateurControleur")
        ng-view


block js
    script(src='/genere/js/app_pkg.js')