extends include/layout
block content
    header
        p.lead= t('app.home.pitch')
    hr
    div(ng-app='app', ng-controller="OrchestrateurControleur")

        form(ng-controller="ExemplairesControleur")
            fieldset Ajouter un exemplaire :
                input(type="text", ng-model="titre", placeholder="Rechercher par titre")
                button(type="button", ng-click="recherche()") Rechercher
                ul
                    li(ng-repeat="livre in livres")
                        input(type="radio", name="isbn",ng-model="exemplaire.isbn", ng-value="livre.isbn")
                        | {{livre.titre}}
                input(type="email", name="email", placeholder="email", ng-model="exemplaire.email")
            button(ng-click="ajouterExemplaire()" type="button") Ajouter

        div(ng-controller="LivresControleur")
            ul
                li(ng-repeat="livre in livres") {{livre._id}}:{{livre.titre}} ({{livre.nombre}})
            button(ng-click="chargeLaSuite()") Charger la suite
            button(ng-click="supprimerEntree()") Supprimer pour le fun

block js
    script(src='/genere/js/app_pkg.js')