extends include/layout
block content
    header
        p.lead= t('app.home.pitch')
    hr
    div.container-fluid(ng-app='app', ng-controller="OrchestrateurControleur")
        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        | Ajouter un exemplaire
                    .panel-body
                        form(ng-controller="ExemplairesControleur", role="form")
                            .form-group
                                .input-group
                                    input.form-control(type="text", ng-model="titre", placeholder="Rechercher par titre")
                                    span.input-group-btn
                                        button.btn.btn-default(type="button", ng-click="recherche()") Rechercher
                                ul.list-group
                                    li.list-group-item(ng-repeat="livre in livres")
                                        input(type="radio", name="isbn",ng-model="exemplaire.isbn", ng-value="livre.isbn")
                                        | {{livre.titre}}

                                label(for="email") Email
                                input#email.form-control(type="email", name="email", placeholder="Entrez votre email", ng-model="exemplaire.email")
                            button.btn.btn-info(ng-click="ajouterExemplaire()" type="button") Ajouter

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        | Livres déjà disponibles
                    .panel-body
                        input.form-control(ng-model="filtreTitre", type="text", placeholder="Filtrer la liste")
                    ul.list-group(ng-controller="LivresControleur")
                        li.list-group-item(ng-repeat="livre in livres | filter:filtreTitre") {{livre.titre}}
                            span.badge {{livre.nombre}}

block js
    script(src='/genere/js/app_pkg.js')