<div class="panel panel-default">
    <div class="panel-heading">
        Ajouter un exemplaire
    </div>
    <div class="panel-body">
        <form action="" role="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Entrez votre email" class="form-control" ng-model="exemplaire.email"/>
                <label>ISBN</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="titre" placeholder="Rechercher par titre"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="recherche()">Rechercher</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="list-group">
        <axlivre ng-repeat="livre in livres" livre="livre" sur-selection="selectionne(isbn)"></axlivre>
    </div>
    <div class="panel-body">
        <button class="btn btn-info" ng-click="ajouterExemplaire()" type="button">
            Ajouter
        </button>
    </div>

</div>
