.panel.panel-default
    .panel-heading
        | Ajouter un exemplaire
    .panel-body
        form(ng-submit="ajouterExemplaire(exemplaire)", role='form')
            .form-group
                label(for='email') Email
                input#email.form-control(type='email', required="true" placeholder='Entrez votre email', ng-model='exemplaire.email')
            .form-group
                label ISBN
                input.form-control(type='text', ng-model='exemplaire.isbn', required='true', placeholder='Rechercher par titre', typeahead='livre.isbn for livre in recherche($viewValue)', typeahead-template-url='livre.html', typeahead-wait-ms="100")

            button.btn.btn-info(type="submit") Ajouter
    script(id="livre.html", type='text/ng-template')
        a
            img(ng-src="{{match.model.image}}",width="50")
            span(bind-html-unsafe="match.model.titre | typeaheadHighlight:query")
