header.clearfix
    img.pull-left(ng-src="{{livre.image}}")
    h1(ng-bind="livre.titre")
section.clearfix
    .container-fluid
        .col-md-8
            .panel.panel-default
                .panel-heading
                    .panel-title: h2 Exemplaires
                div.list-group
                    a.list-group-item(ng-repeat="exemplaire in livre.exemplaires", ng-click="montreReservationPour(exemplaire)")
                        span.glyphicon(ng-class="{true:'glyphicon-thumbs-up', false:'glyphicon-thumbs-down'}[exemplaire.disponible]") &nbsp;
                        span(ng-bind="exemplaire.emailLecteur")

        .col-md-4(ng-if="exemplaireSelectionne && exemplaireSelectionne.disponible")
            form(role="form", ng-submit="emprunte(emprunt)")
                .panel.panel-default
                    .panel-heading
                        .panel-title: h5 Emprunt
                    .panel-body
                        p(ng-bind="'Emprunter $0 à $1 ?'| format:[livre.titre, exemplaireSelectionne.emailLecteur]")
                        .form-group
                            label(for="emailLecteur") Votre email
                            input.form-control#emailLecteur(ng-model="emprunt.emailLecteur", type="email", required="true")
                    .panel-footer
                        button.btn.btn-primary(type="submit") Confirmer